<div class="container">
  <ul>
    <li class="{{menu.isActive === true ? 'border' : ''}}" *ngFor="let menu of deepMenu">
      <span class="{{menu.isActive === true ? 'arrow-left' : ''}}"></span>
      <div class="d-flex item child">
        <div class="icon">
          <i class="{{menu.icon}}"></i>
        </div>
        <div class="content">
          <h2>{{menu.title}}</h2>
          <p>{{menu.subTitle}}</p>
        </div>
        <div class="show">
          <ul>
            <li *ngFor="let menuChild of menu.children">
              <div class="d-flex item child">
                <div class="icon">
                  <i class="{{menuChild.icon}}"></i>
                </div>
                <div class="content">
                  <h2>{{menuChild.title}}</h2>
                </div>
                <div class="show">
                  <ul>
                    <li *ngFor="let mc of menuChild.children">
                      <div class="d-flex item child">
                        <div class="icon">
                          <i class="{{mc.icon}}"></i>
                        </div>
                        <div class="content">
                          <h2>{{mc.title}}</h2>
                        </div>
                        <div class="show">
                          <ul>
                            <li *ngFor="let mcc of mc.children">
                              <div class="d-flex item child">
                                <div class="icon">
                                  <i class="{{mcc.icon}}"></i>
                                </div>
                                <div class="content">
                                  <h2>{{mcc.title}}</h2>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <span class="{{mc.children ? 'arrow' : ''}}"></span>
                    </li>
                  </ul>
                </div>
              </div>
              <span class="{{menuChild.children ? 'arrow' : ''}}"></span>
            </li>
          </ul>
        </div>
      </div>
      <span class="{{menu.isActive === true ? 'arrow-right' : ''}}"></span>
      <span class="{{menu.children ? 'arrow' : ''}}"></span>
    </li>
    <li>
      <div class="search">
        <input type="text" placeholder="search..."/>
        <i class="fas fa-search"></i>
      </div>
    </li>
  </ul>
</div>
